/*h1 h2 h3 h4 h5 {*/
/*    font-family: 'Anton', sans-serif;*/
/*    font-family: 'Raleway', sans-serif;*/
/*}*/
/*#logo-text, a{*/
/*    font-family: 'Abel', sans-serif;*/
/*    font-family: 'Anton', sans-serif;*/
/*    font-family: 'Raleway', sans-serif;*/
/*}*/
body {
    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
}
nav {
    z-index: 2;
    position: relative;
}

nav > ul {
    list-style-type: none;
    border:0;
    padding-top: 30px;

}
.small{
}
.small li {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
.order-6 {
    order: 6;
}
body{
    background-color: #f0f0f0;
}

.round {
    width: 9em;
    height:9em;
    border-radius: 50%;
    border: white solid .5em;


}
.bigCircle1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.design {
    background-color: #E6563B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.develop {
    background-color: #DEA03D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.support {
    background-color: #7CBA6C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host {
    background-color: #00ABA9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: black;
    font-weight: bold;
}

#project-text, #selected-txt {
    font-family: 'Abel', sans-serif;
    font-size: initial;
}

@media (min-width: 1200px) {
    .order-6 {
        width: auto;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }

}


@media (min-width: 992px) {
    .ml-auto-lg {
        margin-left: auto;

    }

    .order-6 {
        width: auto;
    }

}


@media (min-width: 770px ) {
    .order-6 {
        width: auto;
    }

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;

    }

}


@media (min-width: 576px) {

    .ml-auto-sm {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;


    }

}
h1{
    font-size: 48px;
    font-weight: bold;

}
h2{

}


.bg-container {
    border-top: 55px solid #f0f0f0;
    background-color: #ffffff;
    height: 125px;
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
    z-index: 1;
    position: absolute;
    opacity: 1;

}


.logo {

    margin: auto;
    height: 105px;
    width: 105px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
}
